<%
const doc = locals.context.doc;
const next = locals.context.next;
%>
<article class="js-switch" data-switch="<%= doc.data.background.toLowerCase() %>">
    <%- include( '../partials/casestudy_slices.html', {doc: doc} ) %>
</article>
<footer class="pager animate animate--slow js-animate -module -text--center">
    <% if ( next ) { %>
        <a class="h1" href="<%= locals.context.getUrl( next ) %>">next project</a>
    <% } else { %>
        <a class="h1" href="/">all projects</a>
    <% } %>
</footer>
