<%
const item = locals.context.get( 'item' );
const next = locals.context.get( 'next' );
%>
<article class="js-switch" data-switch="<%= item.data.background.toLowerCase() %>">
    <%- include( '../partials/casestudy_slices.html', {item: item} ) %>
</article>
<footer class="pager animate animate--slow js-animate -module -text--center">
    <% if ( next ) { %>
        <a class="h1" href="<%= locals.context.getUrl( next ) %>">next project</a>
    <% } else { %>
        <a class="h1" href="/">all projects</a>
    <% } %>
</footer>
